package {{ .Package }}

import "github.com/ccutch/atk/core"

// User defined Model {{ .Name }}
type {{ .Name }} struct {
  core.Model
  {{ range $n, $t := .Fields }}
  {{ capitolize $n }} {{ $t }} {{ lowercase $n | printf "`json:\"%s\"`" }}{{ end }}
}

// Create pointer to a new instance of Model {{ .Name }}
func New{{ .Name }}({{ .FieldArgList }}) *{{ .Name }} {
  m := make({{ .Name }})
  {{ range $n, $_ := .Fields }}
  m.{{ capitolize $n }} = {{ lowercase $n }}{{ end }}
  return m
}
